<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/tailwindcss/index.css" />
    <title>Page was not found</title>
  </head>
  <body class="bg-slate-700">
    <%- include("./nav.ejs") %>

    <main class="container mx-auto px-4 py-8">
      <h1 class="text-2xl font-bold text-center text-white">
        Page was not found
      </h1>
      <p class="text-center text-white">
        The page you are looking for does not exist.
      </p>
    </main>
  </body>
</html>
