<nav class="navbar">
  <div class="navbar-brand">
    <a href="/" class="flex items-center">
      <span class="navbar-title">API-key system</span>
    </a>
    <button
      data-collapse-toggle="mobile-menu"
      type="button"
      class="
        inline-flex
        items-center
        p-2
        ml-3
        text-sm text-white
        rounded-lg
        md:hidden
      "
      aria-controls="mobile-menu"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <svg
        class="hidden w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
      <ul
        class="
          flex flex-col
          mt-4
          md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium
        "
      >
        <li>
          <a
            href="#"
            class="
              block
              py-2
              pr-4
              pl-3
              text-white
              rounded
              md:bg-transparent md:text-white md:p-0
            "
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#"
            class="
              block
              py-2
              pr-4
              pl-3
              text-gray-700
              border-b border-gray-100
              md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0
              text-gray-400
              border-gray-700
            "
            >About</a
          >
        </li>
        <li>
          <a
            href="https://github.com/lassv/apikey-system"
            target="_blank"
            data-tooltip-target="tooltip-default"
            class="
              block
              py-2
              pr-4
              pl-3
              text-gray-700
              md:hover:bg-transparent md:border-0 md:p-0
              text-gray-400
              md:hover:text-white
            "
            ><i class="fa-brands fa-github"></i>
          </a>
        </li>
        <div
          id="tooltip-default"
          role="tooltip"
          class="
            inline-block
            absolute
            invisible
            z-10
            py-2
            px-3
            text-sm
            font-medium
            text-white
            bg-gray-900
            rounded-lg
            shadow-sm
            opacity-0
            transition-opacity
            duration-300
            tooltip
            bg-gray-800
          "
        >
          View on Github
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </ul>
    </div>
  </div>
</nav>
